.cc-empty-card-list {
  font-size: $font-large;
  color: $grey-fossil;
}

.cc-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid $grey-silver;
  border-radius: $border-radius-card;
  max-width: 100%;
  width: $card-container;
  margin-bottom: $spacing-double;
  padding: $spacing;

  .cc-delete-card {
    position: absolute;
    top: -16px;
    right: -16px;
    font-weight: 100;
    font-size: $font-large;
    border: 1px solid $grey-silver;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 1.3;
  }

  .cc-card-number {
    font-size: $font-medium;
  }

  .cc-card-comment {
    font-size: $font-small;
    margin-top: $spacing;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }

  .cc-card {
    margin: $spacing-double;
  }

  i {
    font-style: italic;
  }
}

.cc-empty-list {
  font-size: 2rem;
  color: $grey;
}

/*-------------------------------------*/
// MasterCard
.master-card {
  font-family: "Droid Sans", Helvetica, sans-serif;
  position: relative;
  width: $mcd-width;
  font-size: $font-large;
  line-height: $mcd-height;
  letter-spacing: -$mcd-width/75;
  text-align: center;
  font-weight: bold;
  color: $white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    border-radius: 50%;
    width: $mcd-height;
    height: $mcd-height;
    z-index: -1;
    background: linear-gradient($mcd-orange 50%, $mcd-red 50%);
    background-size: $mcd-height/8 $mcd-height/8;
    box-shadow: ($mcd-width - $mcd-height) 0 0 0 $mcd-orange, ($mcd-width - $mcd-height) 0 0 0 $mcd-red inset;
  }
}

/*-------------------------------------*/
// Visa

.visa {
  position: relative;
  width: $visa-width;
  height: $visa-width * 3/5;
  background: white;
  background: linear-gradient($visa-blue 25%, transparent 25%, transparent 75%, $visa-yellow 75%);
  border: $visa-width/60 solid $visa-white;
  box-shadow: 0 0 0 $visa-width/60 $visa-blue;
  font-size: $font-extra-large;
  line-height: $visa-width * 3.1/5;
  color: $visa-blue;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  vertical-align: top;
}

@media only screen and (max-width: $media-small) {
  .cc-card-container {
    width: $small-container;
  }
}
