.cc-add-new-card-container {
  margin-bottom: $spacing-double;
}

.cc-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: $form-container;
}

.cc-input,
.cc-textarea {
  border: 1px solid $grey-silver;
  border-radius: $border-radius;
  color: $grey-pebble;
  font-size: $font-medium;
  padding: $spacing-one-and-half;
  outline: 0;
  transition: border-color .2s ease;

  &:focus {
    border: 1px solid $grey-fossil;
  }
}

.cc-input {
  height: $height-input;
}

.cc-error {
  border: 1px solid $red;
}

.cc-textarea {
  height: $height-textarea;
  resize: none;
}

.cc-form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-double;
}

.cc-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-half;
}

.cc-label {
  font-size: $font-small;
  font-weight: $font-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cc-button-container {
  display: flex;
  justify-content: center;
}

.cc-button {
  background: $color-brand-1;
  border: none;
  border-radius: $border-radius-button;
  height: $height-button;
  line-height: $height-button;
  padding: 0 6rem;
  margin: 0 1rem;
  font-size: $font-small;
  color: $white;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background .2s ease;

  &:hover {
    background: darken($color-brand-1, 10%);
  }

  &:disabled {
    background: $grey-fossil;
    cursor: default;
  }
}

.cc-validation-message {
  color: $red;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: left;
}

@media only screen and (max-width: $media-small) {
  .cc-form {
    width: $small-container;
  }

  .cc-textarea {
    height: 5rem;
  }

  .cc-button,
  .cc-input {
    height: 3rem;
    line-height: 3rem;
  }
}
