.cc-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);

  .cc-popup {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: $spacing-double;
    background: $white;
    border-radius: $border-radius;
    width: 40%;

    .cc-message {
      font-size: $font-medium;
      margin: $spacing-double 0 $spacing-forth;
      text-align: center;

      span {
        color: $color-brand-1;
      }
    }

    .cc-button-cancel {
      background: $grey-fossil;
    }
  }
}

@media only screen and (max-width: $media-small) {
  .cc-overlay {
    .cc-popup {
      width: 90%;

      .cc-message {
        margin: 2rem 0;
      }

      .cc-button {
        margin: $spacing;
      }
    }

    .cc-button-container {
      flex-direction: column;
    }
  }
}
