body,
html {
  box-sizing: border-box;
  color: $color-base;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-base;
  line-height: 1;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a,
a:hover {
  text-decoration: none;
  color: $color-link;
}

h1 {
  font-size: $font-heading;
  font-weight: bold;
  margin: $spacing-double;
}

h2 {
  font-size: $font-large;
  font-weight: bold;
  margin: $spacing-double;
}

.cc-main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.cc-split-container {
  flex: 1;
  text-align: center;
  padding: 0 1rem;
}

.cc-scrollable {
  overflow-y: auto;
  border-right: 1px dotted $grey-fossil;
}

.cc-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: $media-small) {
  .cc-main-container {
    flex-direction: column;
  }

  .cc-scrollable {
    border-right: none;
    border-bottom: 1px dotted $grey-fossil;
  }
}
