/*-------------------------------------*/
// VARIABLES - GLOBAL
/*-------------------------------------*/

/*-------------------------------------*/
// MEDIA QUERIES

$media-large: 120rem;
$media-middle: 99.2rem;
$media-small: 50rem;

/*-------------------------------------*/
// DIMENSIONS - WIDTHS, HEIGHTS

// Container - Width
$width-container: 120rem;

// Form container - Width
$form-container: 35rem;

// Card container - Width
$card-container: 35rem;

// Small container - Width

$small-container: 25rem;

// Header - Height
$height-header: 4.8rem;

// Tab-bar - Height
$height-tab-bar: 4.9rem;

// Inputs - Height
$height-input: 4.5rem;
$height-textarea: 7rem;

// Buttons - Height
$height-button: 4.5rem;

// Cards
$mcd-width: 6em;
$mcd-height: $mcd-width * 3/5;
$visa-width: 3em;

/*-------------------------------------*/
// COLORS

// Colors - Brand
$color-brand-1: #3493E6;

// Colors - Common - Greys
$grey: #aaaaaa;
$grey-silver: #cccccc;
$grey-fossil: #787276;
$grey-pebble: #333333;
$grey-shadow: #373737;

// Colors - Common - White
$white: #fffefc;

// Colors - Common - Cool
$green-pista: #2ecc40;

// Colors - Common - Warm
$red: #ff4136;

// Colors - Brands
$mcd-red: #cd0001;
$mcd-orange: #fe9900;
$visa-blue: #1b1d74;
$visa-yellow: #e59703;
$visa-white: #fff;

// Colors - Links
$color-link: $color-brand-1;

// Colors - Base Font
$color-base: $grey-pebble;

/*-------------------------------------*/
// FONTS

// Fonts - Base styles
$font-base: "open-sans-regular", sans-serif;
$font-size-base: 10px;

// Fonts - Weights
$font-light: 300;
$font-normal: 400;
$font-bold: 700;

// Fonts - Sizes
$font-small: 1.2rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-heading: 3rem;
$font-extra-large: 4rem;

/*-------------------------------------*/
// SPACING

$spacing: 1rem;
$spacing-one-and-half: 1rem * 1.5;
$spacing-double: 1rem * 2;
$spacing-third: 1rem * 3;
$spacing-forth: 1rem * 4;
$spacing-half: 1rem / 2;

/*-------------------------------------*/
// ZINDEX

$zindex-header: 1000;
$zindex-tab-bar: $zindex-header;
$zindex-dropdown: 1100;
$zindex-lib-selectize: 1200;
$zindex-notify: 1300;
$zindex-modal: 1400;

/*-------------------------------------*/
// BORDER-RADIUS

$border-radius: .3rem;
$border-radius-card: .6rem;
$border-radius-input: $border-radius;
$border-radius-button: 999rem;
